@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.overflow-ellipsis,
.section-title {
  font-family: "Roboto", sans-serif;
  margin: 2% 0;
}

.section-title {
  color: grey;
}

.overflow-ellipsis {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}
